.frame-scanner {
    width: 200px;
    height: 200px;
    background: transparent;
    border: solid 2px black;
    margin: 0 auto;
    outline: solid 280px rgba(0, 0, 0, 0.6);
}

body {
	background:transparent;
}
.md , .content-md {
	background: transparent !important;
}